<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MartinFlegl.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="SMTP_HOST" value="smtp.forpsi.com" />
          <environmentVariable name="SMTP_PORT" value="587" />
          <environmentVariable name="SMTP_USER" value="scio@ekobio.org" />
          <environmentVariable name="SMTP_PASS" value="Awp3desert" />
          <environmentVariable name="TARGET_EMAIL" value="jan.kytyr@seznam.cz,scio@ekobio.org" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
